@font-face {
    font-family: 'Inter-SB';
    src: url(../../assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family:'Inter-R' ;
    src: url(../../assets/fonts/static/Inter-Regular.ttf);
}
#Info{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
img{
    border-radius: 100px;
    width: 40%;
}
h1{
    color: hsl(0, 0%, 100%);
    margin: 10px;
    font-family:'Inter-R' ;
}
h4{
    color: hsl(75, 94%, 57%);
    margin: 10px;
    font-family: 'Inter-SB';
    font-size: 14px;
}
#intro{
    color:hsl(0, 0%, 100%,70%) ;
    font-family:'Inter-R' ;
    font-size: 14px;
}